$defBorderRadius: 4px;
$bgColor: #cfd8dc;
$fieldsBG: white;
$btnBg: #8e0038;
$btnText: #ffffff;
$shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

.test {
  color: teal;
}

.App {
  color: black;
  font-family: "Lato", sans-serif;
  background-color: $bgColor;
  font-size: 18px;
  text-align: left;
  max-width: 400px;
  margin: auto;
}

.AppWrapper {
  max-width: 100%;
  margin: auto;
  padding-top: 0rem;
}

.headerWrapper {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: $shadow;
}

.headerImgContainer {
  height: 60px;
  width: 60px;
}

.headerLogo {
  width: 100%;
  height: 100%;
}

.headerTitle {
  padding-left: 1rem;
}

.headerText {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  width: 80% !important;
}

.bodyWrapper {
  width: 95%;
  margin: auto;
}

.headerText {
  text-align: left;
  width: 95%;
  margin: auto;
}

.formsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 1rem;
}

.formsWrapperTitle {
  margin: 1rem auto;
}

.fieldsWrapper {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
}

input,
textarea {
  height: 2.5rem;
  border-radius: $defBorderRadius;
  border: 1px solid lightgrey;
  margin: 0;
  padding: 0.25rem 0.75rem;
  text-align: left;
  background-color: $fieldsBG;
  box-shadow: $shadow;
}

label {
  padding-left: 0.3rem;
}

#fieldsWrapper2,
#fieldsWrapper7 {
  width: 48%;
  margin-left: 0rem;
}
#fieldsWrapper3,
#fieldsWrapper8 {
  width: 48%;
  margin-right: 0rem;
}

.field4,
.field5 {
  padding-top: 1rem;
  min-height: 60px;
}
.btnWrapper {
  width: 100%;
  text-align: right;
}

button {
  border: none;
  padding: 1rem;
  margin-right: 0.5rem;
  background-color: $btnBg;
  color: $btnText;
  margin-bottom: 1rem;
  border-radius: $defBorderRadius;
  box-shadow: $shadow;
}
